@{
    ViewData["Title"] = "Home";
}
@model List<Category>
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->
<!-- Categories Start -->
<div class="container-fluid pt-3">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Categories</span></h2>
    </div>
    <div class="row justify-content-center px-xl-5 pb-3">
        @foreach (var category in Model)
        {
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">@category.ProductsCount Products</p>
                    <a href="/shop?ct=@category.Id" class="cat-img position-relative overflow-hidden embed-responsive embed-responsive-4by3 mb-3">
                        <img class="img-fluid embed-responsive-item" style="object-fit: cover" src="@category.ImagePath" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">@category.Name</h5>
                </div>
            </div>
        }
    </div>
</div>
<!-- Categories End -->

<!-- Products Start -->
<div class="container-fluid pt-3">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
    </div>
    <div class="row justify-content-center px-xl-5 pb-3">
        @foreach (Product product in ViewBag.TrandyProducts)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border embed-responsive embed-responsive-1by1 p-0">
                        <img class="img-fluid w-100 embed-responsive-item" style="object-fit: cover" src="@product.Images.First().ImagePath" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">@product.Name</h6>
                        <div class="d-flex justify-content-center">
                            <h6>$@product.Price.ToString("F")</h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a asp-action="detail" asp-controller="shop" asp-route-id="@product.Id" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <button onclick="AddToCart(@product.Id, 1)" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Products End -->
<!-- Subscribe Start -->
<div class="container-fluid bg-secondary my-5">
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
            <div class="text-center mb-2 pb-2">
                <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Sign up</span></h2>
                <p>Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod duo labore labore.</p>
                <a href="/account/register" class="btn btn-primary px-4">Register</a>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe End -->
<!-- Products Start -->
<div class="container-fluid pt-3">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Just Arrived</span></h2>
    </div>
    <div class="row justify-content-center px-xl-5 pb-3">
        @foreach (Product product in ViewBag.JustArrivedProducts)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border embed-responsive embed-responsive-1by1 p-0">
                        <img class="img-fluid w-100 embed-responsive-item" style="object-fit: cover" src="@product.Images.First().ImagePath" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">@product.Name</h6>
                        <div class="d-flex justify-content-center">
                            <h6>$@product.Price.ToString("F")</h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a asp-action="detail" asp-controller="shop" asp-route-id="@product.Id" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <button onclick="AddToCart(@product.Id, 1)" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Products End -->
<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @foreach (Company company in ViewBag.Companies)
                {
                    <div class="vendor-item border embed-responsive embed-responsive-1by1 p-4">
                        <img class="embed-responsive-item" style="object-fit: cover" src="@company.ImagePath" alt="">
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->