@using kurs.Models.Forms;
@{
    Layout = null;
}
@model ProductForm
<form asp-action="Edit" asp-controller="Products" enctype="multipart/form-data" onsubmit="return AjaxPost(this);">
    <div asp-validation-summary="All" hidden></div>
    <span asp-validation-for="Name" class="text-danger"></span>
    <div class="input-group mb-3">
        <input type="text" asp-for="Name" class="form-control" placeholder="Name">
    </div>
    <span asp-validation-for="Description" class="text-danger"></span>
    <div class="input-group mb-3">
        <textarea asp-for="Description" cols="30" rows="5" placeholder="Description" class="form-control"></textarea>
    </div>
    <span asp-validation-for="Price" class="text-danger"></span>
    <div class="input-group mb-3">
        <input type="number" asp-for="Price" class="form-control" placeholder="Price">
    </div>
    <span asp-validation-for="Amount" class="text-danger"></span>
    <div class="input-group mb-3">
        <input type="number" asp-for="Amount" class="form-control" placeholder="Amount">
    </div>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
    <div class="input-group mb-3">
        <select class="custom-select" asp-for="CategoryId">
            <option selected>Choose a category</option>
            @foreach (Category category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <span asp-validation-for="CompanyId" class="text-danger"></span>
    <div class="input-group mb-3">
        <select class="custom-select" asp-for="CompanyId">
            <option selected>Choose a company</option>
            @foreach (Company company in ViewBag.Companies)
            {
                <option value="@company.Id">@company.Name</option>
            }
        </select>
    </div>
    <span asp-validation-for="TagIds" class="text-danger"></span>
    <div class="input-group mb-3">
        <select asp-for="TagIds" class="multi-select" data-placeholder="Select a Tags" multiple="multiple">
            @foreach (TagGroup tagGroup in ViewBag.TagGroups)
            {
                <optgroup label="@tagGroup.Name">
                    @foreach (Tag tag in tagGroup.Tags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </optgroup>
            }
        </select>
    </div>
    <span asp-validation-for="Images" class="text-danger"></span>
    <div class="input-group mb-1">
        <div class="custom-file">
            <input type="file" asp-for="Images" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" multiple>
            <label class="custom-file-label" for="inputGroupFile01">Choose images</label>
        </div>
    </div>
    <div class="text-muted mb-3">If the image is not selected, it will not change.</div>

    <button type="submit" class="btn btn-primary btn-block">Save</button>
</form>