@{
    Layout = null;
}
@model Product
<h4 class="mb-4">@Model.ReviewsCount review for "@Model.Name"</h4>
@foreach (var review in Model.Reviews)
{
    <div class="media mb-4">
        <div class="media-body">
            <h6>@review.User.Fullname()<small> - <i>@review.Date.ToLongDateString()</i></small></h6>
            <div class="rating-stars mb-2">
                <input value="@review.Rating" max="5" disabled/>
            </div>
            <p>@review.Content</p>
        </div>
    </div>
}
